// Palette
$p_white: #F8EDED;
$p_orange: #FF8225;
$p_red: #B43F3F;
$p_black: #173B45;

$text_color: $p_white;
$background_color: $p_black;
$button_color: $p_orange;
$button_color_hover: $p_red;
$button_text_color: $p_black;
$button_text_color_hover: $p_white;
$default_transition_time: 200ms;

:root {
    background-color: $background_color;
    font-family: sans-serif;
}

@mixin input_default($w: 100%) {
    border: 0;
    color: $text_color;
    background-color: $background_color;
    resize: none;
    overflow: hidden;
    width: $w;
    border-left: solid $p_white 1px;
    height: 1.2em;

    &:hover,
    &:focus {
        outline-width: 0;
        border-left: solid $p_white 3px;
        border-bottom: solid $text_color 1px;
        margin-left: -2px;
        margin-bottom: -1px;
    }
}

@mixin input_setting_default($font_size: 1em, $font_weight: 900) {
    border: 0;
    border-radius: 3px;
    background: $text_color;
    color: $background_color;
    font-size: $font_size;
    font-weight: $font_weight;

    &:focus {
        outline: solid 3px $button_color_hover;
    }
}

@mixin clickable_default($font_size: 1em, $font_weight: 900) {
    color: $button_text_color;
    background-color: $button_color;
    font-size: $font_size;
    font-weight: $font_weight;
    border-radius: 10px;
    border: none;
    transition-duration: $default_transition_time;
    font-family: sans-serif;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: $button_color_hover;
        color: $button_text_color_hover;
    }

    &:focus {
        outline: solid $button_text_color_hover;
    }
}

@mixin center_self($width: fit-content) {
    display: block;
    max-width: $width;
    margin-inline: auto;
}

@mixin center_content($gap: 0px) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap;
}


@mixin visible_on_hover($extra_conditions: '') {
    visibility: hidden;
    opacity: 0;
    transition:
        visibility $default_transition_time linear,
        opacity $default_transition_time linear;

    $selectors: '&:hover, &:focus';

    @each $condition in $extra_conditions {
        $selectors: append($selectors, unquote('#{$condition}'), comma);
    }

    #{$selectors} {
        visibility: visible;
        opacity: 1;
    }
}